<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
	integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1> Student System</h1>
		<hr>
		<h2>Save Student</h2>
		<form action="#" th:action="@{/saveStudent}" th:object="${student}"
			method="POST">
		<input type="text" th:field="*{first_name}"
			placeholder="First Name" class="form-control mb-4 col-4"
			required autofocus="autofocus" />
		<input type="text" th:field="*{last_name}"
			placeholder="Last Name" class="form-control mb-4 col-4"
			required autofocus="autofocus" />
			<input type="text" th:field="*{location}"
			placeholder="Location" class="form-control mb-4 col-4"
			required autofocus="autofocus" />
			<label class="col-form-label col-sm-4">Department: </label>
			<div class="col-sm-8">
				<div class="form-group">
					<select th:field="*{department}" class="form-control" required>
						<th:block th:each="cat: ${listDepartments}">
							<option th:text="${cat.name}" th:value="${cat.dept_id}" />
						</th:block>
					</select>
				</div>
<br>
		<button type="submit" class="btn btn-info col-2"> Save Student</button>
	</form>
	</div>
</body>
</html>