<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management System</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <style>
        .previous {
            background-color: #04AA6D;
            color: white;
        }

        .round {
            border-radius: 50%;
        }
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Management System  <a href="#" th:href="@{/d_index}" class="previous round">&#8249;</a></h1>
    <hr>
    <h2>Update Department</h2>
    <form action="#" th:action="@{/saveDepartment}" th:object="${department}"
          method="POST">
        <!--Add hidden form field to handle update -->
        <input type="hidden" th:field="*{dept_id}"/>
        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Update
            Department</button>
    </form>
</div>
</body>
</html>